/*  This file is part of BNS Corner Logo.

    Copyright 2009-2011  Edward Caissie  (email : edward.caissie@gmail.com)

    BNS Corner Logo is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License, version 2, as
    published by the Free Software Foundation.
    
    You may NOT assume that you can use any other version of the GPL.

    BNS Corner Logo is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/* Last revised November 17, 2011 v1.6 */

/* BNS Corner Logo CSS */
div.bns-logo { text-align: center; position: relative; z-index: 10000; }
div.bns-logo .avatar { float: none; margin: 0; width: auto; }
div.bns-logo a img { border: none; background: none; text-decoration: none; width: 100%; }

/* Positioning for the corners */
div.bns-logo.fixed-bottom-right { position: fixed; bottom: 0; right: 0; }
div.bns-logo.fixed-bottom-left { position: fixed; bottom: 0; left: 0; }
div.bns-logo.fixed-top-right { position: fixed; top: 0; right: 0; }
div.bns-logo.fixed-top-left { position: fixed; top: 0; left: 0; }